*, *::before, *::after {
    box-sizing: border-box;
    font-family: Gotham Rounded, sans-serif;
    font-weight: normal;
  }
  
  body {
    padding: 0;
    margin: 0;
   background-image: url(kupu5.png);
   background-size:86em;
  }
  
  .calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
  }
  
  .calculator-grid > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(255, 255, 255, .75);
  }
  
  .calculator-grid > button:hover {
    background-color: rgba(255, 255, 255, .9);
  }
  
  .span-two {
    grid-column: span 2;
  }
  
  .output {
    grid-column: 1 / -1;
    background-color: rgba(137, 246, 135, 0.856);
    display: flex;
    align-items:flex-start;
    justify-content: space-around;
    flex-direction:column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
  }
  
  .output .previous-operand {
    color: rgba(255, 255, 255, .75);
    font-size: 1.5rem;
    margin-right: 14em;
  }
  
  .output .current-operand {
    color: white;
    font-size: 2.5em;
    /*margin-right: 13.5em;*/
    text-align: left;
  }

  /* #rotasigambarid {
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    transform: rotate(30deg);
  } */

  #gambar {
    -webkit-transform-origin-x:0;
    transform: scaleX(-1);
    margin-left: 8.1em;
    line-height: -1em;
  }

  #gambar-id {
    margin-left: 16.2em;
    margin-bottom: -1em;
    *width: 45%;
    padding-top: -7em;
    padding-bottom: 0em;
    display:flex;
    margin-top: -1em;
  }

  /*#rumput {
    margin-bottom: em;
    margin-top: -9em;
  } 

  #rumput1 {
    margin-bottom: em;
    margin-top: -9em;
    margin-left: 13em;
  } 

  #rumput2 {
    margin-bottom: em;
    margin-top: -9em;
    padding-left: 27em;
  } */

footer {
    color: #fff;
    background-image: linear-gradient(rgb(69, 167, 145), rgb(50, 135, 150));
    margin-bottom: 0%;
    padding-bottom: 0.5%;
  }

  h4 {
    padding-top: 2%;
    text-align: center;
   }

   p {
    font-size: 30px;
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 3%;
   
   }
